
.Lines {
                text-align:center;
                color:#00BFFF;
            }
            body {
                background-color:#2F4F4F
            }
            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }
            p{
                color:#00BFFF;
            }
            h1{
               color:#00BFFF; 
            }