body.main {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	background-attachment: fixed;
}

.fill {
    width: 100%;
	height:100%;
}

.tab-container {
	display:flex;
	display: -webkit-flex;
	border-bottom: solid;
	border-top: solid;
	border-right: solid;
	border-color:black;
	border-width:1px;
	background-color:#f8f8f8;
}

.tabs {
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	display:block;
	text-align: center;
	color: white;
	text-decoration:none;
	border-top-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	font-family: Arial;
}

.tabs:hover{
	text-decoration:none;
	color:blue;
}

.tabs:focus{
	text-decoration:none;
	color:black;
}

.horizontal-line{
	height:3px;
}

.vertical-line{
	width:3px;
}

.border-color-primary{
	background:#5bc0de;
}

.border-color-secondary{
	background:white;
}

.hide{
	display:none
}

#main-container {
	display: -webkit-flex;
	display: flex;
	flex-grow: 1;
		
}

#main-box
{
	flex-grow:1;
	-webkit-flex-grow:1;
	display: -webkit-flex;
	display:flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	flex-direction: column;
	-webkit-flex-direction: column;
	background:#5bc0de;
	border-top: solid;
	border-right: solid;
	border-color:white;
}

.frame{
	-webkit-flex-grow:1;
	flex-grow:1;
	border-right:solid;
	border-top:solid;
	border-width: 1px;
}

#side-box-container{
	display:flex;
	display:-webkit-flex;
	border-top: solid;
	border-left: solid;
	border-color: white;
}

#side-box{
	flex-grow: 1;
	-webkit-flex-grow:1;
	background:	#FFFFFF;
	border-top: solid;
	border-left: solid;
	border-color: black;
	border-width:1px;
}

#nav-links {
    float: right;
	
}

#main-navbar{
	margin-bottom:0px;
	background-color:none;
}