body {
    background: #5bc0de;
	background-attachment: fixed;
}

label {
    display: block;
    text-align: right;
}

.white-body {
    background: white;
}

.container {
	background: white;
}

.grey-row {
    background:  #dedede;
}

.navigation li {
    display: inline;
	padding-right: 7px;
}

#tagline {
    color: #5bc0de;
}

.modal-header {
    background: #5bc0de;
}

.modal-header h4 {
    color: white;
}

/* Makes a horizontal line a vertical line*/
.vertical-line hr {
	width: 1px;
	height: 11em;
	background: #d3d3d3;
	float: right;
}

#greet-user{
	color:black;
}

.profilepic{
	height:100%;
	max-width:230px;
}

.profile-container{
	height:175px;
}

.profile-list{
	font-size: 20px;
}