.tab-container {
	display:flex;
	display: -webkit-flex;
	border: solid black 1px;
	background-color:#f8f8f8;
}

.tabs {
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	display:block;
	text-align: center;
	color: white;
	text-decoration:none;
	border-top-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	font-family: Arial;
}

.tabs:hover{
	text-decoration:none;
	color:blue;
}

.tabs:focus{
	text-decoration:none;
	color:white;
}

.horizontal-line{
	height:3px;
}

.vertical-line{
	height: 3px;
}

.border-color-primary{
	background:#5bc0de;;
}

.border-color-secondary{
	background:white;
}

.frame{
	height: 100%;
	width: 100%;
	border: solid black 1px;
}

#main-box
{
	height: 900px;
	border-top: solid;
	border-color:white;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	-webkit-flex-direction: column;
}

#side-box-container{
	border-top: solid;
	border-color: #5bc0de;
}

#side-box{
	background:	#FFFFFF;
	border-top: solid;
	border-left: solid;
	border-color: black;
	border-width:1px;
	height: 300px;
	width: 100%;
}

#nav-links {
    float: right;
}

#main-navbar{
	margin-bottom:0px;
	background-color:none;
}